<h3>Menu Options</h3>
<div>
  {{#each burgers}}
    <div>
      <p><strong>{{burger_name}}</strong><button class="eat-burger" id="eat-burger" data-id="{{id}}" style="float: right">Eat burger</button>
      </p>
    </div>
  {{/each}}
</div>
