body, html {
    height: 100%;
}

.container {
    background-color: white;
    height: 70%;
    padding: 0;
}
.navbar {
    background-color: black;
    color: white;
}

img {
    height: 60%;
    width: 100%;
    perspective: 2px;
}

